header h1, header h2   {
  background: -webkit-linear-gradient(#fff0b7 10%, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, h2   {
  background: -webkit-linear-gradient(#fff0b7 50%, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-gradient   {
  background: -webkit-linear-gradient(#fff0b7 10%, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand   {
  background: -webkit-linear-gradient(#fff0b7 10%, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #ffffff;
    color: #000000;
}

/* Overrides */

section {
    padding: 20px 0;
}
